@model Compilify.Web.Models.PostViewModel

<div id="sidebar">
    <div class="inner">
        <div class="sidebar-form">
            <h4>References</h4>
            <ul class="references">
                @foreach (var reference in Model.References)
                {
                    @Html.Partial("_ReferenceListItem", reference)
                }
            </ul>
        </div>

        <div class="sidebar-bottom">
            <a href="https://appharbor.com">
                <img src="~/assets/img/appharbor.png" alt="Hosted by AppHarbor" />
            </a>
        </div>
    </div>
</div>

<div id="ide">
    <ul class="nav nav-tabs">
        <li>
            <a href="#" class="tab new-tab" title="New document">
                <i class="icon-plus-sign"></i>
            </a>
        </li>

        @for (var i = 0; i < Model.Project.Documents.Count; i++)
        {
            var doc = Model.Project.Documents[i];
            var active = i == 0 ? "active" : (string)null;
            
            <li class="@active">
                <span class="tab" data-toggle="tab" data-target="#@doc.Name" data-name="@doc.Name">
                    <span class="tab-name">@doc.Name</span>
                    <span class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            <i class="icon-chevron-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a class="js-rename-tab" href="#">
                                    <i class="icon-pencil"></i>
                                    Rename
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="js-delete-tab" href="#">
                                    <i class="icon-trash"></i>
                                    Delete
                                </a>
                            </li>
                        </ul>
                    </span>
                </span>
            </li>
        }
    </ul>

    <div class="workspace">
        <div class="columns clearfix">
            <div class="column left">
                <div class="editor tab-content">
                    @for (var i = 0; i < Model.Project.Documents.Count; i++)
                    {
                        var active = i == 0 ? "active" : null;
                        <div id="@Model.Project.Documents[i].Name" class="tab-pane @active">
                            <textarea>@(Model.Project.Documents[i].Content ?? string.Empty)</textarea>
                        </div>
                    }
                </div>
            </div>
            <div class="column right">
                <div class="results">
                    <pre>Press "Run" to execute your code.</pre>
                </div>
            </div>
        </div>
    </div>

    <div class="status-bar">
        <div class="inner">
            <span>Ready</span>
        </div>
    </div>
</div>