<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    
    <title>@(ViewBag.Title != null
           ? ViewBag.Title + " - Compilify.net"
           : "Code, Collaborate, Compile - Compilify.net")</title>

    <meta name="description"  
          content="Compilify.net is a place for .NET developers to write, save, share, and run their C# code." />
    
    <meta name="keywords" content=".net, c#, c-sharp, compile, build, share, paste, post, code, roslyn"/>
    
    @Html.Insights()

    <meta name="author" content="Justin Rusbatch" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link type="image/x-icon" rel="shortcut icon" href="/favicon.ico" />

    <link type="text/css" rel="stylesheet"
          href="@BundleTable.Bundles.ResolveBundleUrl("~/styles/libs")" />
    
    <link type="text/css" rel="stylesheet"
          href="@BundleTable.Bundles.ResolveBundleUrl("~/styles/app")" />
    
    @Html.Analytics()
</head>
<body dir="ltr">
    <div id="header" class="navbar">
        <div class="navbar-inner">
            <div class="container-fluid">
                <a class="brand" href="@Url.Action("Index", "Home")">
                    <h2 class="brand-name">Compilify<strong>.net</strong> <small class="secondary">ALPHA</small></h2>
                </a>
                <ul class="nav">
                    @*<li>@Html.ActionLink("About", "About", "Home")</li>*@
                    <li>
                        <a class="js-new" href="/" title="Start a new project">
                            <img src="~/assets/img/new.png" alt="New"/>
                            New
                        </a>
                    </li>
                    <li>
                        <a class="js-save" href="#" title="Save this project">
                            <img src="~/assets/img/save.png" alt="Save"/>
                            Save
                        </a>
                    </li>
                    <li>
                        <a class="js-run" href="#" title="Queue this project for execution">
                            <img src="~/assets/img/run.png" alt="Run"/>
                            Run
                        </a>
                    </li>
                </ul>

                @*@Html.Partial("_Share")*@
            </div>
        </div>
    </div>
        
    <div id="content">
        @RenderBody()
    </div>
    
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/js/libs")"></script>
    <script src="@BundleTable.Bundles.ResolveBundleUrl("~/js/app")"></script>
    
    @RenderSection("PageScripts", false)
</body>
</html>
